$bodyBgColor : #EFEFEF;
$fontgrey : #606060;
$btnOrange : #FF7F22;
$btnOrangeHover : hsl(25, 100%, 46%);
$bgColorblue : #D9E8FE;
$tblue : #569AFE;
$tabActiveGray : #424242;
$topBarText : #D9D9D9;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: $bodyBgColor;
}

.height100{
    height: 100vh;
}

.btn-orange{
    background-color: $btnOrange;
    color: #fff;
    &:hover{
        background-color: $btnOrangeHover;
        color: #fff;
    }
}

.font-grey{
    color: $fontgrey;
}

.bgblue{
    background-color: $bgColorblue;
    color: $tblue;
}

.px-8{
    padding: 8rem;
}


.my-12{
    margin-top: 12rem;
}

.active{
    background-color: $tabActiveGray;
}

.mainIcon{
    width: 4rem;
    height: 4rem;
}

.topbar{
    background-color: #606060;
    color: $topBarText;
    gap: 1rem;
}

.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0;
}

.nav-pills .nav-link.active{
    background-color: $tabActiveGray;
}